<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.cstools.mapper.TemplateMapper">
    <resultMap id="BaseResultMap" type="com.cs.cstools.entity.Template">
        <id column="tid" property="id" jdbcType="BIGINT"/>
        <result column="template_id" property="templateId" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="template_description" property="templateDescription" jdbcType="VARCHAR"/>
        <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated"/>
        <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated"/>
        <collection property="workFields" javaType="ArrayList"
                    ofType="com.cs.cstools.entity.WorkFields"><!--column="id" select="selectField"-->
            <id column="wid" property="id" jdbcType="BIGINT"/>
            <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
            <result column="field_id" property="fieldId" jdbcType="VARCHAR"/>
            <result column="field_type" property="fieldType" jdbcType="VARCHAR"/>
            <result column="field_required" property="fieldRequired" jdbcType="BIT"/>
            <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated"/>
            <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, is_send, path, description, date_created,last_updated
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        t.id tid,t.template_id,t.template_name,t.template_description,t.date_created,t.last_updated,
        w.id wid,w.field_name,w.field_id,w.field_type,w.field_required,w.date_created,w.last_updated
        FROM template t left join work_fields w on t.id= w.template_id where t.id=#{id}
    </select>
    <!--<select id="list" resultMap="BaseResultMap">
        SELECT
        t.id,t.template_id,t.template_name,t.template_description,t.date_created,t.last_updated
        FROM template t where t.id=#{id}
    </select>

    <select id="selectField" resultType="com.cs.cstools.entity.WorkFields">
        SELECT
        id,field_name,field_id,field_type,field_required,date_created,last_updated
        FROM  work_fields  where template_id=#{id}
    </select>-->

    <insert id="add" parameterType="com.cs.cstools.entity.Tools">
       INSERT INTO
       		tools
       		(name, is_send, path, description, date_created, last_updated)
       	VALUES
       		(#{name}, #{isSend}, #{path}, #{description},#{dateCreated}, #{lastUpdated})
    </insert>

    <delete id="delete" parameterType="List">
        DELETE FROM
        tools
        WHERE
        id in
        <foreach collection="ids" item="name" index="index" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </delete>

    <update id="update" parameterType="com.cs.cstools.entity.Tools">
      update tools set name=#{name},is_send=#{isSend},path=#{path},description=#{description},last_updated=#{lastUpdated}
      where id=#{id}
    </update>

</mapper>